<div class="container">

  <h1>Edit Asset</h1>
  <hr>

  <form>

    <div ng-if="assets_edit.uploaded || assets_edit.asset.url">
      <div class="panel panel-default">
        <div class="panel-body">
          <img width="500px" ng-src="{{assets_edit.asset.absUrl}}">
        </div>
      </div>
    </div>

    <div>
      <div class="form-group">
        <label for="type">File</label>
        <input type="file" class="form-control" uploader="assets_edit.uploader" nv-file-select>
      </div>
    </div>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">

    <div ng-if="assets_edit.uploaded || assets_edit.asset.id">

      <div class="form-group">
        <label for="type">Project</label>
        <select ng-model="assets_edit.asset.project_id" class="form-control" ng-options="project.id as project.name for project in assets_edit.projects">
        </select>
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select ng-model="assets_edit.asset.asset_type_id" class="form-control" ng-options="asset_type.id as asset_type.name for asset_type in assets_edit.asset_types">
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input ng-model="assets_edit.asset.description" type="text" class="form-control" id="description" placeholder="">
      </div>
      <div class="form-group">
        <label class="control-label">Tags</label>
        <div>
          <ui-select multiple sortable="true" ng-model="assets_edit.asset.tags" theme="select2" style="height:50px" class="form-control" title="Choose a tag">
            <ui-select-match placeholder="Select or search a tag in the list...">{{$item.name}}</ui-select-match>
            <ui-select-choices repeat="tag in assets_edit.tags | filter: $select.search">
              <div ng-bind-html="tag.name | highlight: $select.search"></div>
            </ui-select-choices>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="in_progress">Image Type</label>
        <select class="form-control" ng-model="assets_edit.asset.image_type" ng-options="bool.id as bool.name for bool in assets_edit.imageTypes"></select>
      </div>
      <div class="form-group">
        <label for="visible">Visible on homepage</label>
        <select class="form-control" ng-model="assets_edit.asset.visible" ng-options="bool.id as bool.name for bool in assets_edit.boolOptions"></select>
      </div>
      <div class="form-group">
        <label for="credit_name">Description 1</label>
        <div text-angular ng-model="assets_edit.asset.description1"></div>
      </div>
      <div class="form-group">
        <label for="credit_url">Description 2</label>
        <div text-angular ng-model="assets_edit.asset.description2"></div>
      </div>
      <div class="form-group">
        <label for="credit_url">Description 3</label>
        <div text-angular ng-model="assets_edit.asset.description3"></div>
      </div>
      <div class="form-group">
        <label for="credit_url">Description 4</label>
        <div text-angular ng-model="assets_edit.asset.description4"></div>
      </div>
      <button ng-click="assets_edit.save()" type="submit" class="btn btn-primary">Save</button>
      <button ng-click="assets_edit.remove()" type="submit" class="btn btn-danger">Delete</button>
    </div>
  </form>
</div>
