<div class="container">

  <h1>Edit Tag</h1>
  <hr>

  <form>
    <div class="form-group">
      <label for="description">Name</label>
      <input ng-model="tags_edit.tag.name" type="text" class="form-control" id="description" placeholder="">
    </div>
    <div style="display:none" class="form-group">
      <label for="description">Parent</label>
      <select class="form-control" ng-options="tag as tag.name for tag in tags_edit.tags track by tag.id" ng-model="tags_edit.parent"></select>
      <!-- <input ng-model="tags_edit.tag.parent_id" type="text" class="form-control" id="parent" placeholder=""> -->
    </div>
    <button ng-click="tags_edit.save()" type="submit" class="btn btn-primary">Save</button>
    <button ng-click="tags_edit.remove()" type="submit" class="btn btn-danger">Delete</button>
  </form>

</div>
